[submodule "data/mine/intermine"]
	path = intermine_builder/intermine
	url = https://github.com/legumeinfo/intermine.git
	branch = 5.1.0.4
[submodule "data/mine/lis-bio-sources"]
	path = intermine_builder/lis-bio-sources
	url = https://github.com/legumeinfo/lis-bio-sources
	branch = 5.1.0.4-jcenter-sunset
[submodule "data/mine/minimine"]
	path = data/mine/minimine
	url = https://github.com/legumeinfo/minimine
	branch = 5.1.0.4
